################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Tourism/obj
/Tourism/bin
/Tourism.Web/.vs
/Tourism.Web/bin
/Tourism.Web/obj
/packages
/Tourism.Web/package-lock.json
/Tourism.Web/ClientApp/package-lock.json
*.user
/Tourism.Web/wwwroot/UpFile
/TourismTool.Web/obj
/TourismTool.Web/bin
/Tourism.STD/bin/Debug
/Tourism.STD/obj
/TourismTool.Web/wwwroot/UpFile
/TourismEmbedded/bin
/TourismEmbedded/obj
/TourismTool.Web/.vs
/Tourism.STD/bin
/Publish
/Tourism.Web/.config
/TourismRazor/bin
/TourismRazor/obj
/TourismTest.ImageGenerate/obj
/TourismTest.ImageGenerate/bin
/TourismTest.ImageGenerate/.vs
/Tourism.Web/ClientApp/debug.log
