<div nz-row>
    <div nz-col nzSpan="24" style="background-color: #8c2219;color:white;text-align:center;height:80px;">
      <ul nz-menu nzMode="horizontal" style="background-color: #8c2219;height: 80px;color:white;">
          <li nz-menu-item nzMatchRouter style=" line-height: 80px;font-size:18px ">
              <a [routerLink]="['/index']" style="color: white;">首页</a>
          </li>
          <li nz-menu-item nzMatchRouter style=" line-height: 80px;font-size:18px ">
              <a [routerLink]="['/index/details']" style="color:white;">手艺资讯</a>
          </li>
      </ul>
      <div class="login {{userName !== '登录'?'user':''}}">
          <a style="
          color: white;
          float: right;
          margin-top:10px;
          margin-right: 150px;
          height: 40px" (click)="login()">{{userName}}</a>
          <div class="user_style">
              <p style="margin-top: 5px;" (click)="goPersonalCenter()">个人中心</p>
              <p (click)="output()">退出</p>
          </div>
      </div>
  </div>
  <div style="padding:15px;width: 1200px !important;margin: 0 auto;">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <i nz-icon nzType="home"></i>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a><i nz-icon nzType="user"></i><span>首页</span></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            手艺资讯
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            资讯详情
        </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div nz-col nzSpan="24" class="margin_top">
    <div class="content_div">
        <div class="content">
            <div>
                <div class="content_title">
                    江苏首倡“无限定空间”，为景区全方位涂上“非遗色彩”
                </div>
            </div>
            <div class="header">
                <p>时间:2021-04-23 </p>
                <p style="margin-left: 30px;">来源: 江苏省文化和旅游厅</p>
            </div>
            <div class="content_text">
                “无限定空间非遗进景区”，对这个新鲜的词语应该如何理解？4月22日，江苏省文化和旅游厅在全国率先出台《江苏省无限定空间非遗进景区工作指南（试行）》，对此作出明确解释。

      无限定空间非遗进景区是指在保护传承非遗资源的基础上，突破时间、空间、形式的限制，在景区内吃、住、行、游、购、娱各环节，植入形式多样的非遗展陈、展示、展演、体验活动，让游客在景区内全程感受、全程共享非遗活态魅力。其核心要义在于，通过提升非遗项目融入性、增强非遗展示互动性、渲染非遗活动代入感，充分满足游客“求新、求奇、求知、求乐”的旅游愿望，吸引更多人到江苏感受美的风光、美的味道、美的人文、美的生活，收获美的发现。

      如何在原有基础上创新开展非遗进景区工作，推动非遗与旅游“你中有我、我中有你”的深度融合？《指南》从“吃住行游购娱”旅游六要素出发，将独特的非遗体验全方位、多角度融入其中，提出了极富新意与实操性的实施办法。

      非遗类美食蔚为大宗，而通过拓宽非遗美食体验途径，来多角度展示美食“烟火气”，实现美食文化与景区餐饮服务无缝对接、同“食”共振。

      将酒店和民宿打造成独具特色的沉浸式非遗体验地，培育自带流量的夜间文旅消费新热点。住下来，听的是评弹丝竹与清曲，赏的是剪纸刺绣和紫砂，长此以往，焉能不润物无声、入耳入心？

      如何变“舟车劳顿”为“步步生花”？通过营造交通非遗空间，充分利用景区内接驳车、游船画舫等交通工具的展览展示作用，使游客在旅途中全程“浸泡”在非遗情境中，无处不在的非遗之美、非遗之韵，让旅游更有诗意。

      推出非遗主题旅游产品，从支持景区建设非遗展示传承体验场所的普通版，到整合资源、开辟特色非遗主题游线的升级版，将非遗项目与景点融为一体，让游客穿梭于非遗的“活态”场景中，真正体现“见人见物见生活”。

      让人心甘情愿“买买买”，就要增强非遗产品市场吸引力。通过在景区公共区域设置流动摊位，以无处不在的活态展示带动游客的购买欲。而辨识度高、感受度强的景区非遗文创，也将慢慢成为人们愿意“剁手”的新宠。

      3D灯光秀、沉浸式演艺、互动式项目……通过脑洞大开的非遗展示展演方式创新，用特色场景吸引游客的“眼”，用新颖体验抓住游客的“心”。

      省文化和旅游厅同步推出更加具体明确的《江苏省无限定空间非遗进景区示范项目评价指标（试行）》，推出试点项目，认定示范项目。并在年度省级非遗保护专项资金项目中予以大力倾斜，形成无限定空间非遗进景区的“江苏样板”。

      4月底，无限定空间非遗进景区专题培训班将在扬州举办；文化和自然遗产日期间，主题活动季将正式启动；10月起，省文化和旅游厅将对各地实施情况进行检查验收……一连串紧锣密鼓、环环相扣的推进步骤，让人们更有理由期待，美的发现从何而来？从“无限定空间”的精微广大中来，从“见人见物见生活”的活态魅力中来。
            </div>
        </div>
    </div>
  </div>
</div>
