<div nz-row>
    <div nz-col nzSpan="24">
        <a style="
        float: right;
        margin-top:10px;
        margin-right: 150px;
        height: 40px">登录注册</a>
    </div>
    <div nz-col nzSpan="24" style="background-color: #8c2219;color:white;text-align:center;height:80px;">
        <ul nz-menu nzMode="horizontal" style="background-color: #8c2219;height: 80px;color:white;">
            <li nz-menu-item nzMatchRouter style=" line-height: 80px;font-size:18px ">
                <a [routerLink]="['/index']" style="color: white;">首页</a>
            </li>
            <li nz-menu-item nzMatchRouter style=" line-height: 80px;font-size:18px ">
                <a [routerLink]="['/', 'components', 'menu', 'zh']" style="color:white;">手艺资讯</a>
            </li>
            <li nz-menu-item nzMatchRouter style=" line-height: 80px;font-size:18px ">
                <a [routerLink]="['/index']" style="color: white;">手艺好物</a>
            </li>
            <li nz-menu-item nzMatchRouter style=" line-height: 80px;font-size:18px ">
                <a [routerLink]="['/index']" style="color: white;">专题策划</a>
            </li>
            <li nz-menu-item nzMatchRouter style=" line-height: 80px;font-size:18px ">
                <a [routerLink]="['/index']" style="color: white;">了解手艺</a>
            </li>
        </ul>

    </div>
      
    <div style="padding:15px;width: 1200px !important;margin: 0 auto;">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <i nz-icon nzType="home"></i>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a><i nz-icon nzType="user"></i><span>手艺咨询</span></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                最美的文章
            </nz-breadcrumb-item>
        </nz-breadcrumb>
        <div>
            
        </div>
    </div>

</div>
