<div nz-row>
    <div nz-col nzSpan="24" style="background-color: #8c2219;color:white;text-align:center;height:80px;">
        <ul nz-menu nzMode="horizontal" style="background-color: #8c2219;height: 80px;color:white;">
            <li nz-menu-item nzMatchRouter style=" line-height: 80px;font-size:18px ">
                <a [routerLink]="['/index']" style="color: white;">首页</a>
            </li>
            <li nz-menu-item nzMatchRouter style=" line-height: 80px;font-size:18px ">
                <a [routerLink]="['/index/details']" style="color:white;">手艺资讯</a>
            </li>
        </ul>
        <div class="login {{userName !== '登录'?'user':''}}">
            <a style="
            color: white;
            float: right;
            margin-top:10px;
            margin-right: 150px;
            height: 40px" (click)="login()">{{userName}}</a>
            <div class="user_style">
                <p style="margin-top: 5px;" (click)="goPersonalCenter()">个人中心</p>
                <p (click)="output()">退出</p>
            </div>
        </div>
    </div>
    <div nz-col nzspan="24">
        <div nz-col nzspan="24">
            <img width="100%" src="http://www.wodsy.com/upload/2020/10/10/64daf319-d57c-4414-8751-b3a07a39e7cb.png" />
        </div>

        <div nz-col nzSpan="24" style="margin-top:-80px;">
            <div style="        background-color: white;padding:15px;width: 1200px !important;margin: 0 auto;">
                <nz-carousel nzAutoPlay nzAutoPlaySpeed="2000" style="margin:0 auto;height:400px;">
                    <ng-container *ngFor="let index of list">
                        <div nz-carousel-content>
                            <img src="http://www.wodsy.com/upload/2020/12/07/3c74f028-fa12-4fdd-8e1b-2102772e8ea0.jpg" (click)="goDetails()"/>
                        </div>
                    </ng-container>

                </nz-carousel>
                <div nz-row style="margin-top: 30px;">
                    <div nz-col nzSpan="12" style="margin-top:10px;height:110px;" *ngFor="let index of list" (click)="goDetails()">
                        <div style="float:left">
                            <img style="border-radius:5px"
                                 width="150px"
                                 height="100px"
                                 src="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
                                 alt="" />
                        </div>
                        <div style=" float:left;margin-left:5px;">
                            <h4>在孩子心里种下非遗的种子</h4>
                            <p>4月16日下午4时许，在海南省五指山市第一小学的非遗培训基地</p>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
