h3 {
    font-weight: bold;
}

[nz-carousel-content] {
    text-align: center;
    line-height: 160px;
    background: #364d79;
    color: #fff;
}

&nz-tabset {
    .ant-tabs-bar {
        margin-top: 2000px !important;
        border-bottom: 0px solid #f0f0f0 !important;
    }
}
